/* Global Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header Styling */
.top-bar {
    width: 100%;
    background-color: #071b2c;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    box-sizing: border-box;
}

.left-text a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
}

.no-underline {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.right-button a {
    background-color: #008095;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

/* Login Page Styling */
.login-page {
    text-align: center;
    padding: 40px;
    width: 400px;
    background: white;
    border-radius: 8px;
    margin-top: 60px;
	border: 2px solid black;
}

.login-logo {
    width: 200px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    width: 80%; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #008095;
    color: white;
    cursor: pointer;
}

/* Footer Styling */
.footer {
    width: 100%;
    background-color: #071b2c;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
	color: white;
	font-size: 14px;
}

